# special git semaphore - to keep empty directories controlled
!.gitkeep

# IDE folders & files to ignore. Add your IDE files & folders to ignore below.
.idea

# Filesystem folders & files to ignore. Adding .DS_Store is a care about MAC users
.DS_Store

# Package management and build tools' specific files. Project doesn't need those stored in repo.
/*.log
node_modules/
bower_components/
.sass-cache/
.tmp/

# Application release folder
dist/

# Testing
/coverage/